@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 218 97% 4%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 44 80% 63%;
    --accent-foreground: 218 97% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 44 80% 63%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 218 97% 4%; /* Rich black */
    --foreground: 100 44% 94%; /* Honeydew */
    --card: 261 58% 10%; /* Dark purple */
    --card-foreground: 100 44% 94%; /* Honeydew */
    --popover: 218 97% 4%;
    --popover-foreground: 100 44% 94%;
    --primary: 100 44% 94%; /* Honeydew */
    --primary-foreground: 218 97% 4%; /* Rich black */
    --secondary: 261 58% 10%;
    --secondary-foreground: 100 44% 94%;
    --muted: 150 7% 70%; /* Ash gray */
    --muted-foreground: 150 7% 85%; /* Lighter Ash gray for text */
    --accent: 44 80% 63%; /* Naples yellow */
    --accent-foreground: 218 97% 4%; /* Rich black */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 7% 70%; /* Ash gray */
    --input: 150 7% 70%;
    --ring: 44 80% 63%; /* Naples yellow */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
